@model Education.Areas.Admin.ViewModels.MasterAboutUsViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <h2>MasterAboutUs</h2>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterAboutUs">MasterAboutUs</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="MasterAboutUsId" class="form-control" type="hidden" value="0" />
            <div class="form-group">
                <label asp-for="MasterAboutUsTitle" class="control-label"></label>
                <input asp-for="MasterAboutUsTitle" class="form-control" />
                <span asp-validation-for="MasterAboutUsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterAboutUsDescription" class="control-label"></label>
                <textarea asp-for="MasterAboutUsDescription" class="form-control"></textarea>
                <span asp-validation-for="MasterAboutUsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterAboutUsPhone" class="control-label"></label>
                <input asp-for="MasterAboutUsPhone" class="form-control" />
                <span asp-validation-for="MasterAboutUsPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterAboutUsEmail" class="control-label"></label>
                <input asp-for="MasterAboutUsEmail" class="form-control" />
                <span asp-validation-for="MasterAboutUsEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-left:295%" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success" style="margin-left:91%">Back to List</a>
</div>

